{% extends "base.html" %}
{% block title %}NHL Companion | About{% endblock %}
{% block description %}Read about how the NHL Companion was made, why it was made, and future plans for the site.{% endblock %}
{% block scripts %}
<link rel="canonical" href="https://www.nhlcompanion.com/about" />
{% endblock %}
{% set active_page = "about" %}
{% block content %}

 
<div class="wrapper">
    <div class="section">
        <div class="hero top__sm">
            <div class="title">
            	<h1>About the NHL Companion.</h1>
            	<p class="title__text">The NHL Companion started as a project for me to learn and have fun with. I had created a CLI app in Python to sound a horn every time the Blues scored - it was a way to feed my hockey addiction during COVID. Then, it became a poorly formatted website. Now it is this. In the future, it may be something else.</p>
        	</div>
        </div>
    </div>
    <div class="section">
        <div class="hero top__sm">
            <div class="title">
            	<h1>How it works.</h1>
            	<p class="title__text">The NHL Companion is built using Python. The site is built using the Python Flask webframework and Socket-IO to facilitate server to client communication. The data is retrieved from the NHL's public API. When a user selects a team, a session variable denoting the user's favorite team is set in the session. You'll notice this when you navigate back to the homepage after selecting a team, your team's game/standings will be highlighted and bold. This session variable is also used to display the team name in the header of the app page.</p>
            	<p class="title__text">Once a user selects a team, they then select a "stream delay." This is tricky to get right, but once you figure it out for your specific use case, it generally stays the same. This is to facilitate the inconsistancy between someone who streams games using an app/website vs. someone who watches on cable. The stream delay is then sent to the server, which triggers the app to start running. If there is no game for that team, that is displayed to the user and they are redirected to the home page.</p>
        	</div>
        </div>
    </div>

    <div class="section">
        <div class="hero top__sm">
            <div class="title">
            	<h1>About the creator.</h1>
            	<p class="title__text">By trade I am an eCommerce manager. I oversee a small portfolio of eCommerce stores for a midsize DTC company. I am a die hard fan of the St. Louis Blues...don't think I've missed more than a handful of games over the past decade. At the time of writing, the Blues are still "Defending pre-COVID Stanley Cup Champions."</p>
            	<p class="title__text">Thank you for visiting nhlcompanion.com. It was a fun (and frustrating) learning experience building this site. I would like to thank my friends Google, Reddit, YouTube, and StackOverflow for making this possible.</p>
            	<p class="title__text">Take a peek at my portfolio site: <a href="http://brandonlmiller.com/" title="More about the creator">www.brandonlmiller.com</a></p>
        	</div>
        </div>
    </div>

    <div class="section">
        <div class="hero top__sm">
            <div class="title">
            	<h1>Future of NHL Companion.</h1>
            	<p class="title__text">I have some thoughts around where to go with this project next, but would also love to hear ideas from the crowd!</p>
		    	<p class="title__text">Future enhancements will include:</p>
		    	<ul class="title__text">
		    		<li><del>Wake Lock to keep the app alive without user intervention.</del> &larr;<i>Released 4/26/2021</i></li>
		    		<li><del>Frontend redesign</del> &larr;<i>Released 5/3/2021</i></li>
		    		<li>Game stats (shots, players, ice time, etc...)</li>
		    		<li>Team stats and comparisons</li>
		    		<li>League leaders</li>
		    		<li>Your suggestion?</li>
		    	</ul>
		    	<p class="title__text"><a href="https://github.com/BrandonMiller18/nhl_companion/issues" title="Report an Issue">Report an issue.</a></p>
        	</div>
        </div>
    </div>
</div>

{% endblock %}


