{% extends "base.html" %}
{% block title %}NHL Companion | Goal Horn{% endblock %}
{% block description %}{% endblock %}
{% set active_page = "app" %}
{% block content %}

<script type="text/javascript">

    $(document).ready(function() { 

    	var socket = io.connect('{{ domain }}');

    	$('#scoreboard').hide();
    	$("#goal").hide();
        $("#win").hide();
        $("#loss").hide();

    	$('#run').on('click', function() {
    		socket.send($('#stream_delay').val());
    		$("#hide").hide();
            $("footer").hide();
    		return false; 
    	});

    	socket.on('status', function(game_status) {
    		$("#gamestatus").html(game_status);
    		$('#scoreboard').show();
    		$("#hide").hide();
            console.log("Recieved game update.")
    	});

        socket.on('noGame', function() {
            $("#hide").hide();
            $(".game__only").hide();
        });

    	socket.on('teams', function(away_team, home_team) {
    		$("#awayteam").html(away_team);
    		$("#hometeam").html(home_team);
    	});

    	socket.on('scores', function(away_score, home_score) {
    		$("#awayscore").html(away_score);
    		$("#homescore").html(home_score);
    	});

    	socket.on('goal', function() {
    		// $('#scoreboard').hide();
    		$('#goal').show();
            $('.app__run').hide();
    		$('div[id=flash]').toggleClass("goal");
            var audio = new Audio('{{ horn }}');
            audio.play();
    		console.log("Goal!");
    	});

    	socket.on('goalover', function() {
    		// $('#scoreboard').show();
    		$('#goal').hide();
            $('.app__run').show();
    		$('div[id=flash]').toggleClass("goal");
    	});

        socket.on('win' , function() {
            $("#win").show();
            $('.app__run').hide();
            var audio = new Audio('{{ win }}');
            audio.play();
            console.log("Game over! Winner!");
        });

        socket.on('loss' , function() {
            $("#loss").show();
            $('.app__run').hide();
            console.log("Team lost.")
        })

        socket.on('end', function() {
            window.location.replace("{{ domain }}");
            console.log("Redirecting back to home page.")
        })
    });
</script>


<div class="container">

    <div id="goal">
        <img src="static/images/goal.gif" class="rounded" alt="Goal light">
    </div>
    <div id="win">
        <img src="static/images/win.gif" class="rounded" alt="Confetti">
    </div>
    <div id="loss">
        <img src="static/images/loss.gif" class="rounded" alt="You lose!">
    </div>

    <div class="jumbotron">
            <h1 class="text-center">Lets go {{session['team_name']}}!</h1>
            <p class="pt-1"></p>
    </div>

    <div id="hide" class="row">

    	<div class="col-lg-6 col-sm-12 mb-2">
            <div class="card">
                <div class="col-12 mt-3">                
                    <div class="card-header">
            		    <h2>Before you start...</h2>
                    </div>
                    <div class="card-body">
                		<ol class="text-left">
                            <li>Set your <strong>stream delay</strong> and click RUN</li>
                            <ul>
                                <li>Find the sweet spot so you don't spoil a goal for yourself!</li>
                            </ul>
                            <li>The app will refresh every 5 seconds while the game is live and every 15 seconds during the preview state.</li>
                            <li><strong>For best results,</strong> keep this page alive while the app is running.</li>
                            <ul>
                                <li>If your device falls asleep, simply refresh the page and restart the app. In a future release I hope to implement Wake Lock to avoid this issue.</li>
                            </ul>
                            <li>When your team scores the horn will sound. If I do not have your team's specific goal horn, then a default horn will sound.</li>
                            <li>Stay tuned at game's end for a surprise!</li>
                        </ol>
                    </div>
                </div>
            </div>
    	</div>

    	<div class="col-lg-6 col-sm-12">
	    	<div class="card">
    			<div class="col-12 mt-3 mb-3">
	    			<form accept-charset="utf-8">
	    				<div class="card-header">
	    					<label class="" for="stream_delay"><h3>Set Stream Delay:</h3></label>
	    				</div>
                        <div class="card-body">
                            <p>This will delay the goal celebration by <i>X</i> seconds. Typically the API runs about 30 seconds ahead of a stream. Your mileage may vary.</p>
                            <p>Must be a positive number.</p>
        					<input id="stream_delay" class="mt-2 form-control" type="number" name="stream_delay" value="30">
        					<button id="run" type="submit" class="btn btn-primary btn-lg m-2">Run</button>
                        </div>
	    			</form>
	    		</div>
    		</div>
    	</div>

    </div>

    <div id="scoreboard" class="row">
    	<div class="col-12 game__only">
    		<div id="flash" class="card app__run">
    		</div>
    	</div>
<!--     	<div class="col-12">

    	</div> -->
    	<div class="col-12 mt-2">
    		<div id="flash" class="card">
    			<div class="card-header">
    				<h3>Game info</h3>
    			</div>
    			<div class="card-body">
    				<table class="table">
    					<thead>
    						<tr>
    							<th>Game Status</th>
    							<th class="game__only">Home</th>
    							<th class="game__only">Away</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr>
    							<td id="gamestatus"></td>
    							<td id="hometeam" class="game__only"></td>
    							<td id="awayteam" class="game__only"></td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    		<div id="flash" class="card mt-2 game__only">
    		 	<div class="card-header">
    		 		<h3>Scoreboard</h3>
    		 	</div>
    			<div class="card-body">
    				<table class="table">
    					<thead class="text-center">
    						<tr>
    							<th>Home</th>
    							<th>Away</th>
    						</tr>
    					</thead>
    					<tbody class="text-center">
    						<tr>
								<td id="homescore"></td>
								<td id="awayscore"></td>
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    </div>




</div>


{% endblock %}