{% extends "base.html" %}
{% block title %}NHL Companion | Goal Horn{% endblock %}
{% block scripts %}
<script type="text/javascript">

    $(document).ready(function() { 

        var socket = io.connect('{{ domain }}');

        $('#scoreboard').hide();
        $("#goal").hide();
        $("#win").hide();
        $("#loss").hide();

        $('#run').on('click', function() {
            socket.send($('#stream_delay').val());
            $("#hide").hide();
            $("footer").hide();
            return false; 
        });

        socket.on('status', function(game_status) {
            $("#gamestatus").html(game_status);
            $('#scoreboard').show();
            $("#hide").hide();
            $("#update").toggleClass("toggle");
            console.log("Recieved game update.")
        });

        socket.on('noGame', function() {
            $("#hide").hide();
            $(".game__only").hide();
        });

        socket.on('teams', function(away_team, home_team) {
            $("#awayteam").html(away_team);
            $("#hometeam").html(home_team);
        });

        socket.on('scores', function(away_score, home_score) {
            $("#awayscore").html(away_score);
            $("#homescore").html(home_score);
        });

        socket.on('goal', function() {
            // $('#scoreboard').hide();
            $('#goal').show();
            $('nav').hide();
            $('.app__run').hide();
            $('div[id=flash]').toggleClass("goal");
            $('#musicCredit').html("Horn audio from www.nhl.com")
            var audio = new Audio('{{ horn }}');
            audio.play();
            console.log("Goal!");
        });

        socket.on('goalover', function() {
            // $('#scoreboard').show();
            $('#goal').hide();
            $('nav').show();
            $('.app__run').show();
            $('div[id=flash]').toggleClass("goal");
        });

        socket.on('win' , function() {
            $("#win").show();
            $('.app__run').hide();
            $('nav').hide();
            

            $.get("{{ win }}")
                .done(function() {
                    var audio = new Audio('{{ win }}')
                    audio.play();
                    $('#musicCredit').html("I do not own or profit from the playing of this song. Credit: Laura Branigan & Atlas Publishing");
                }).fail(function() {
                    audio = new Audio('{{ genericWin }}')
                    audio.play();
                    $('#musicCredit').html("Music: www.bensound.com");
                })
        });

        socket.on('loss' , function() {
            $("#loss").show();
            $('.app__run').hide();
            $('nav').hide();
            console.log("Team lost.")
        })

        socket.on('end', function() {
            window.location.replace("{{ domain }}");
            console.log("Redirecting back to home page.")
        })
    });
</script>
<script type="text/javascript">
    $(document).ready(function() { 
        $('#removeFooter').click(function() {
            $('footer').hide();
        });
    });

</script>
<script src="{{ url_for('static', filename='js/wakeLock.js') }}" defer></script>

{% endblock %}
{% block description %}{% endblock %}
{% set active_page = "app" %}
{% block content %}

<div class="bg__home"></div>
<div class="wrapper" id="hide">
    <div class="section">
        <div class="hero">
            <div class="title">
                <h1>Lets go {{session['team_name']}}!</h1>
                <p class="title__text">Scroll down to begin.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="hero">
            <div class="title">
                <h1>Set your stream delay.</h1>
            </div>
        </div>
   

        <form class="home__form" accept-charset="utf-8">
            <p class="title__text">This will delay the goal celebration by <i>X</i> seconds. Typically the API runs about 30 seconds ahead of a stream. Your mileage may vary.</p>
            <p><small>Must be a positive number.</small></p>
            <div class="team__select">
                <input id="stream_delay" class="" type="number" name="stream_delay" value="30">       
            </div>
            <div class="submit__btn">
                <input id="run" type="submit" class="" value="Run">
            </div>
        </form>

     </div>






</div>




<div id="goal">
    <img src="static/images/goal.gif" alt="Goal light">
</div>
<div id="win">
    <img src="static/images/win.gif" alt="Confetti">
    <div class="center">
        <p class="small text-white" id="musicCredit"></p>
    </div>
</div>
<div id="loss">
    <img src="static/images/loss.gif" alt="You lose!">
</div>

    <div id="scoreboard">
    	<div class="game__only">
    		<div id="flash" class="app__run">
    		</div>
    	</div>
        <div class="scoreboard">
    		<div id="flash" class="scoreboard__section">
    			<div class="center">
    				<h3>Game info</h3>
    			</div>
                <table class="app__table">
					<thead>
						<tr>
							<th>Game Status</th>
							<th class="game__only">Home</th>
							<th class="game__only">Away</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="gamestatus"></td>
							<td id="hometeam" class="game__only"></td>
							<td id="awayteam" class="game__only"></td>
						</tr>
					</tbody>
				</table>
            </div>
    		<div id="flash" class="scoreboard__section game__only">
    		 	<div class="center">
    		 		<h3>Scoreboard</h3>
    		 	</div>
				<table class="app__table">
					<thead class="center">
						<tr>
							<th>Home</th>
							<th>Away</th>
						</tr>
					</thead>
					<tbody class="center">
						<tr>
							<td id="homescore"></td>
							<td id="awayscore"></td>
						</tr>
					</tbody>
				</table>
    		</div>
        </div>
   	</div>


    <div class="container wakelock">
            <label class="keep__alive" for="wakeLock">Keep alive
            <input type="checkbox" class="" data-status="off" id="wakeLock">
            <span class="slider round"></span>
            </label>
            <p class="full__width center" id="wakeLockStatus"></p>
    </div>



{% endblock %}