{% extends "base.html" %}
{% block title %}NHL Companion | Dashboard{% endblock %}
{% block description %}{% endblock %}
{% set active_page = "index" %}
{% block scripts %}{% endblock %}
{% block content %}

<div class="bg__home"></div>


<div class="scroller">
    <div class="section">
        <div class="hero">
            <div class="title">
                <h1>NHL Companion</h1>
                <p class="title__text">The NHL Companion is the best way to follow your favorite Hockey team. Check today's slate of games around the NHL, check the standings, and use our app to blast your Goal Horn when your team scores!</p>
                <p class="title__text">Scroll to get started.</p>
            </div>
        </div>
    </div>


    <div class="section">
        <div class="hero">
            <div class="title">
                <h1>Select your team.</h1>
                <p class="title__text">Follow your team's game with the NHL Companion!</p>
            </div>
        </div>
        

        <form class="home__form" action="{{ url_for('run') }}" method="POST">
            <div>
                <select name="team" id="team" class="team__select">
                    {% for abr in abbreviations %}
                    <option value="{{abr}}">{{abr}}</option>
                    {% endfor %}
                </select>
            </div> 
            <div class="submit__btn">
                <input type="submit" value="Start">
            </div>
        </form>

    </div>

    <div class="section">
        <div class="hero top">
            <div class="title">
                <h1>Today's Slate.</h1>
                <p class="title__text">All of today's NHL action.</p>
            </div>
        </div>
                    
        <div class="standings">
            <table class="home__table">
                <thead>
                    <tr>
                        <th>Home</th>
                        <th></th>
                        <th>Away</th>
                    </tr>   
                </thead>    
                <tbody>                 
                {% for game in schedule %}
                    {% set home = game['teams']['home']['team']['name'] %}
                    {% set away = game['teams']['away']['team']['name'] %}
                    {% if session['team_name'] == home or session['team_name'] == away %}
                        <tr class="my__team">
                            <td>{{game['teams']['home']['team']['name']}} </td>
                            <td>vs.</td>
                            <td>{{game['teams']['away']['team']['name']}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{game['teams']['home']['team']['name']}} </td>
                            <td>vs.</td>
                            <td>{{game['teams']['away']['team']['name']}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    
    </div>


    <div class="section">
        <div class="hero top">
            <div class="title">
                <h1>Standings.</h1>
                <p class="title__text">Where does your team stack up?</p>
            </div>
        </div>
        <div class="standings">
            {% for division in divisions %}
            <h2 class="center">
                {{division}}                        
            </h2>
            <table class="home__table" >
                <thead>
                    <tr>
                        <th class="p-2">Team</th>
                        <th class="p-2">GP</th>
                        <th class="p-2">W</th>
                        <th class="p-2">L</th>
                        <th class="p-2">OT</th>
                        <th class="p-2">Pts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in standings %}
                        {% if team['div'] == division and team['name'] == session['team_name'] %}
                        <tr class="my__team">
                            <td class="p-2">{{team['name']}}</td>
                            <td class="p-2">{{team['gp']}}</td>
                            <td class="p-2">{{team['wins']}}</td>
                            <td class="p-2">{{team['losses']}}</td>
                            <td class="p-2">{{team['ot']}}</td>
                            <td class="p-2">{{team['pts']}}</td>
                        </tr>
                        {% else %}
                            {% if team['div'] == division %}
                            <tr>
                                <td class="p-2">{{team['name']}}</td>
                                <td class="p-2">{{team['gp']}}</td>
                                <td class="p-2">{{team['wins']}}</td>
                                <td class="p-2">{{team['losses']}}</td>
                                <td class="p-2">{{team['ot']}}</td>
                                <td class="p-2">{{team['pts']}}</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}