{% extends "base.html" %}
{% block title %}NHL Companion | About{% endblock %}
{% block description %}Read about how the NHL Companion was made, why it was made, and future plans for the site.{% endblock %}
{% block scripts %}
<link rel="canonical" href="https://www.nhlcompanion.com/about" />
{% endblock %}
{% set active_page = "about" %}
{% block content %}

 
<div class="wrapper">
    <div class="section">
        <div class="hero top__sm">
            <div class="title">
            	<h1>NHL Companion Teams.</h1>
            	<p class="title__text">The NHL Companion supports all 32 NHL teams. Find your team below to lean more!</p>
                <div class="title__text">
                    {% for team in teams %}
                        <a href="/teams/{{ team['teamName'] }}"><li>{{ team["name"] }}</li></a>
                    {% endfor %}
                </div>
        	</div>
        </div>
    </div>
</div>

{% endblock %}


