{% extends "base.html" %}
{% block title %}NHL Companion | About{% endblock %}
{% block description %}Read about how the NHL Companion was made, why it was made, and future plans for the site.{% endblock %}
{% block scripts %}
<link rel="canonical" href="https://www.nhlcompanion.com/about" />
{% endblock %}
{% set active_page = "about" %}
{% block content %}

 
<div class="wrapper">
    <div class="section">
        <div class="hero top__sm">
            <div class="title">
            	<h1>{{ team_name }} Goal Horn.</h1>
                <div class="team__info-section">
                    <h2>Bring the Arena to Your Living Room!</h2>
                    <p>Use the NHL Companion web application to annoy your neighbors by blasting the <a href="https://www.nhl.com/{{ team_name.lower() }}" target="_blank">{{ team_name }}’s</a> goal horn when they score. The NHL Companion has all 32 NHL team’s goal horns. All you need to do is pick your team, set your stream delay, and press “run!” From there, the app will continually check the score of the game. Once the {{ team_name }} score, a goal light will flash and the horn will blast. The sound of a {{ team_name }} goal has even been proven to enhance the taste of your adult beverage!</p>
                </div>
                <div class="team__info-section">
                    <h2>Using the App</h2>
                    <p>To use the app most effectively, it is best to be on a laptop or desktop computer. NHL Companion uses “wakelock” technology, which allows the user to let their browser keep the screen awake. If your phone, tablet, or computer goes to sleep while the app is running, it will cause a malfunction as the game score will no longer be able to be updated.</p>
                    <p>Once you start the app, all you have to do is simply check the box that says “keep alive” at the bottom of the screen. This allows wakelock to take effect and ensure you get to hear the sweet sound of the {{ team_name }} goal horn!</p>
                </div>
                <div class="team__info-section">
                    <h2>Get Started</h2>
                    <p>Tired of reading and ready to watch (and listen) your beloved {{ team_name }} score some goals? Click here to get started! </p>
                </div>
        	</div>
        </div>
    </div>
</div>

{% endblock %}


