.app__run {
	height: 10px;
	width: 100%;
	animation: run 5s linear infinite;
}

@keyframes run {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
		background-color: #007bff;
	}
}

.card {
	box-shadow: 0px 0px 0.75em #343a4080;
}

.card.app__run {
	box-shadow: none;
}

.card.goal {
	animation: goalBorder 1s linear infinite !important;
	animation-direction: alternate;
}

#goal, #win, #loss {
	position: fixed; /* Sit on top of the page content */
	text-align: center;
	width: 100%; /* Full width (cover the whole page) */
	height: 100vh; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#goal > img, #win > img, #loss > img {
	margin: 25vh auto auto auto;
}

@keyframes goalBorder {
	0% {

	}

	100% {
		border-color: red;
	}
}