* {scroll-behavior: smooth;}

html {
	scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
	display: none;
}

body {
	color: snow;
	margin: 0;
	overflow-x: hidden;
}

footer {
	background-color: #00000095;
	z-index: 10;
}

p, a, ol, ul, form, table, textarea, input, label, select {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	margin: 0;
}

h1 {
	font-size: 3.5rem;
	font-weight: bold;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

a {
	color: snow;
	text-decoration: none;
	transition: all 0.2s ease 0s;
}

a:hover {
	color: grey;
	text-decoration: none;
	transition: all 0.2s ease 0s
}

ul {list-style-type: none;}

input, select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	transition: all .5s ease 0s;
}

input[type=submit] {
	background-color: #58b82585;
	color: snow;
	font-weight: bold;
	font-size: 1.2em;
}

input[type=submit]:hover {
	background-color: #58b825;
	cursor: pointer;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	background-color: #e8f0fe;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover, select:hover {
	background-color: #e8f0fe;
	transition: all .3s ease 0s;
	border-width: 1px;
    border-style: inset;
    border-color: black;
}

table {
	border-collapse: collapse;
}

th {
	border-bottom: 1px solid white;
	padding: 8px;
}

thead > tr:hover {
	background-color: transparent !important;
}

tr:hover {
	background-color: #ffffff15;
}

td {
	padding: 8px;
}

img {
	border-radius: 8px;
}

nav {
	position: fixed;
	margin: 15px 0 0 30px;
	font-size: 1.1rem;
}

nav > a:hover {
	color: white;
}

.back__toTop {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 20px;
	font-size: 2em;
	z-index: 1;
}

.wrapper {
	height: 100vh;
	overflow-y: scroll;
	scrollbar-color: #ffffff50 #00000095; /* Firefox */
	scrollbar-width: thin; /* Firefox */
	scroll-snap-type: y mandatory;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 0 10%;
}

.full__width {grid-column: span 12;}
.half__width {grid-column: span 6;}

.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left}

.footer__items {
	grid-column: span 4;
	margin: 15px 5px;
	border-right: 1px solid whitesmoke;
	padding: 8px;
}

.footer__items > h4 {
	padding-bottom: 8px;
	font-size: 1.2rem;
}

.footer__copy.git {
	text-align: center;
	font-size: 4rem;
}

.close {
	/* X button to hide the footer */ 
	position: absolute;
	padding-top: 5px; 
	left: 95%;
	font-weight: 100;
}

.section {
	height: 100vh;
	scrollbar-width: none; /* Firefox */
	scroll-snap-align: start;
	overflow-y: scroll;
}

.scroll {
	max-height: 75vh;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding: 0 15px 0 25px;
	margin: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: #ffffff50 #00000095; /* Firefox */
	scrollbar-width: thin; /* Firefox */
}


/*.wrapper::-webkit-scrollbar {display: none;} */
.section::-webkit-scrollbar {display: none;}

/* Designing for scroll-bar */
.scroll::-webkit-scrollbar, .wrapper::-webkit-scrollbar {
	/*display: none;*/
    width: 6px;
    /*margin-right: 25vw;*/
}

/* Track */
.scroll::-webkit-scrollbar-track, .wrapper::-webkit-scrollbar-track {
    background: #00000095;
    border-radius: 6px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb, .wrapper::-webkit-scrollbar-thumb {
    background: #ffffff50;
    border-radius: 5px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover, .wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.home__links.start {background-color: #58b82585;}
.home__links.start:hover {background-color: #58b825;}
.home__links.slate {background-color: #2558B885;}
.home__links.slate:hover {background-color: #2558B8;}
.home__links.standings {background-color: #b8253185;}
.home__links.standings:hover {background-color: #b82531;}

.home__links:hover {
	color: inherit !important;
	transition: all .3s ease 0s;
}

.home__links {
	text-align: center;
	grid-column: span 4;
	margin: 1em;
	padding: 0.5em;
	font-weight: bold;
	border-radius: 0.5em;
	transition: all .3s ease 0s;
}

.home__table {
	margin: 10px auto;
	padding: 5px;
	max-height: 75vh;
/*	overflow-y: scroll;*/
}

.team__select, .submit__btn {width: 25%}

.bg__home { /* BACKGROUND FOR WHOLE SITE */
	position: fixed;
	background-image: url("../images/ice_background.png");
	height: 100vh;
	width: 100vw;
	top: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -100;
}

.hero {padding: 0 12%;}

.title.home {z-index: -1;}
.title {
	position: relative;
	top: 25vh;
	animation: fadeIn linear 1s;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

.title.main {z-index: 0}

.title__text {
	animation: fadeIn linear 2s;
	padding: 5px 0;
	width: 50%;
}

.home__form {
	margin: 0 auto;
	position: relative;
	top: 25vh;
	padding: 0 12%;
}



.my__team {
	background-color: #ffffff15;
	font-weight: bold;
}


/* APP CSS */

.app__run { /* LOADING BAR WHEN APP IS ON */
	height: 10px;
	width: 100%;
	animation: run 5s linear infinite;
}

.card.app__run {box-shadow: none;}

.goal {
	animation: goalBorder 1s linear infinite !important;
	animation-direction: alternate;
}

#goal, #win, #loss {
	position: fixed; /* Sit on top of the page content */
	text-align: center;
	width: 100%; /* Full width (cover the whole page) */
	height: 100vh; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#goal > img, #win > img, #loss > img {
	margin: 25vh auto auto auto;
}

.wakelock {
	position: absolute;
	bottom: 0;
	width: 100vw;
	padding: 0;
	background-color: #00000095 
}

.keep__alive {
	grid-column: span 12;
	text-align: center
}

input[type=checkbox] {
	position: relative;
	width: auto;
	margin: 8px;
}


.scoreboard {
	margin-top: 10vh;
}

.scoreboard__section {
	margin: 8vh 0;
}

.app__table {
	margin: 0 auto;
	width: 50%;
	text-align: left;
}

.toggle {visibility: hidden;}
.recieve__update {
	position: absolute;
	top: 0;
	left: 95vw;
	height: 8px;
	width: 8px;
	border-radius: 8px;
	background-color: red;
}

@media only screen and (max-width: 1600px) {
	.top > .title {
		top: 0;
		border-bottom: 1px solid #ffffff50;
		border-radius: 0;
	}
	.home__links{grid-column: span 12}
}

@media only screen and (max-width: 765px) {
	h1 {font-size: 2.2rem;}
	.top__sm > .title {top: 10vh;}
	.team__select, .submit__btn {width: 55%}
	.recieve__update {left: 75vw;}

	.border-right { /* BORDER FOR MOBILE FOOTER */
		border-right: none !important;
		border-bottom: 1px solid #dee2e6;
		margin: 0 5%;
	}

	.footer__copy {
		padding: 8px 0;
	}

	.footer__items {
		grid-column: span 12;
		border-right: none;
		border-bottom: 1px solid whitesmoke;
	}

	.title__text {
		width: 100%;
	}

	.scroll {
		width: auto;
		padding: 0 8px 8px 0;
	}

	.app__table {
		width: 85%;
	}

}

@media only screen and (max-width: 450px) {
	p {font-size: initial;}

}

@keyframes run { /*  LOADING BAR ANIMATION */
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
		background-color: #007bff;
	}
}

@keyframes fadeIn {
  0% {opacity:0}
  100% {opacity:1}
}


@keyframes fadeInDissapear {
	0% {visibility: visible;}
	75% {visibility: visible;}
	100% {visibility: hidden;}
}

@keyframes goalBorder { /*  GOAL ANIMATION FOR CARD BORDERS */
	0% {}
	100% {border-color: red;}
}

@keyframes blinker {50% {opacity: 0;}} /* not used, was for blinking chevron */
